@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
};
  
.container {
    width: 70%;
}

@media screen and (max-width: 768px){

    .container {
      width: 100%;
     }
  }