@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}


.c1{
    background-color:white;
    width: 384px;
    height: 540px;
    padding-top: 25px;
    border-top-left-radius:20px ;
}

.c2{
    background-color: white;
    width: 500px;
    height: 540px;
    border-bottom-right-radius: 20px;
}

h2{
    text-align: center;
    font-weight: bold;
}

p{
    text-align: center;
}
/* Custom CSS code */
.custom-button {
    width: 300px;
    font-size: 1.25rem; /* Equivalent to Bootstrap's fs-6 for btn-lg */
  
  }
  
  .custom-button-danger {
    background-color: #dc3545; /* Equivalent to Bootstrap's btn-danger */
    color: #fff; /* Set text color to white or any color you prefer */
    border-color: #dc3545; /* Set border color to match background color */
  }
  
  /* Apply Bootstrap's btn and btn-lg styles */
  .custom-button,
  .custom-button:hover {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .3rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .custom-button:focus,
  .custom-button.focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69,.25);
  }

  /* Custom CSS code for centering button */
.im{
    width: 500px;
    height: 540px;
}

.op1{
    padding-top: 5px;
    font-size: 15px;
    margin-bottom: 0px;
    
}

.op2{
    font-size: 13px;
    color: gray;
}

.oc1{
    border-radius: 20px;
    display: flex;
    border: 1px solid #ddd;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);   
    
}

.icon-a{
   
    margin-left: 35px;
    transition: all 0.1s ease-in-out;
}

Link.icon-a:hover{
    
    height: '45px';
    width: '45px';
    color: rgb(88, 88, 88);
}

.im{
    border-bottom-right-radius: 20px;
    max-width: 100%;
    height: auto;
}

@media (max-width: 1088px) {
    

    .c1{
       
        width: 300px;
        height: 500px;
        padding-top: 20px;
        border-top-left-radius:20px ;
        
    }

    .c2{
        
        width: 400px;
        height: 500px;
        border-bottom-right-radius: 20px;
    }

    .im{
       padding-top: 30px;
    }

    .oh2{
        font-size: 22px;
        padding-top: 15px;
    }

    .op3{
        margin: 5px;
        font-size: 13px;
    }

    .op1{
        font-size: 12px;
    }

    .op2{
        font-size: 11px;
    }
    
    .custom-button {
        width: 250px;
        font-size: 1.rem; /* Equivalent to Bootstrap's fs-6 for btn-lg */
      
      }
   
  
   
  }
  

@media (max-width:767.5px) {
    
  
   

    .c1{
        background-color:white;
        width: 384px;
        height: 540px;
        border-bottom-right-radius: 20px;
       
    }

    .oh2{
        font-size: 25px;
        padding-top: 15px;
    }

    .op3{
        margin: 5px;
        font-size: 15px;
    }

    .op1{
        font-size: 14px;
    }

    .op2{
        font-size: 13px;
    }
    
    .custom-button {
        width: 300px;
        font-size: 1.25rem; /* Equivalent to Bootstrap's fs-6 for btn-lg */
      
      }
   
  }
  


  