/* .about_container{
    display: flex;
    background-color: white;

}

.about_container>div{

    width: 100%;
    height: 80vh;
    padding: 10px;
    position: relative;
    margin-top: 10vh;
    margin-bottom: 50px;
    box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
    
} */


/* .about_us_container{
    width: 100%;
    height: 80vh;
    padding: 10px;
    position: relative;
    margin-top: 10vh;
    margin-bottom: 50px;
    box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
    background-color: white;
} */

.contact-body-color{
    background-color:whitesmoke;
    padding: 10px;
}
.grid-contacts-container{
    display: grid;
    grid-template-columns: 400px auto;
    margin-bottom: 5vh;
    
    
}


.grid-contacts-container>div{
    width: 100%;
    margin-top: 5vh;
    height: auto;
    position: relative;
    
    /* background-color: white; */
    
    
}

.formcontact{
    background-color: white;
    padding: 10px;
    
    
   
}
.contact_body{
    background-color: #f0f0f0;
    border-radius: 0 30px 30px 0;
    padding: 20px;
    padding-left: 20px;
    padding-top: 20px;
    height: 100%;
}


.contactus{
    display: grid;
    grid-template-rows: auto 100px;
}

.contacttext{
    padding-left: 30px;
    padding-top: 20px;
    object-fit: cover;
}

.textfields1{
    padding-bottom: 30px;
}
.textfields2{
    padding-bottom: 30px;
}
.contactus>div{
    width: 100%;
    height: auto;
    padding: 10px;
    position: relative;
    background-color: white;
    
    /* box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45); */
    /* object-fit: cover;
    overflow: scroll;
    scrollbar-width: none; */
    
}

.mail{


position: relative;

border-radius: 5px 5px 0 0;
}

.mailbutton {
    display: flex;
    justify-content: flex-end; 
    margin-right: 30px;
    margin-top: 20px;

  }
.social-meadia{
position: relative;
/* box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45); */
}




.aboutus-container{
    display: grid;
    grid-template-columns: auto;
    height: 60vh;
}

.aboutus-container>div{
    width: 100%;
    height: auto ;
    margin-top: 10vh;
    padding: 10px;
    position: relative;
    /* background-color: white; */
    /* box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45); */
    object-fit: cover;
    overflow: scroll;
    scrollbar-width: none;
    
}


.about-deteils{
    background-color: white;
    box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
    border-radius: 5px; 
 

}

.contactus .MuiInputLabel-root.Mui-focused{
    color: #ff3951;
  }
  
  .contactus .MuiFilledInput-underline:after {
    border-bottom-color: #ff3951; 
  }

  .contactus .MuiIconButton-root:focus,
.contactus .MuiButton-root:focus,
.contactus .MuiButtonBase-root:focus {
  color: #ff3951; /* Change to the desired color */
}

/* Change the color of icons and buttons when hovered */
.contactus .MuiIconButton-root:hover,
.contactus .MuiButton-root:hover,
.contactus .MuiButtonBase-root:hover {
  color: #ff3951; /* Change to the desired color */
}


/* .contact_us_container{
    width: 100%;
    height: 80vh;
    padding: 10px;
    position: relative;
    margin-top: 10vh;
    margin-bottom: 50px;
    box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
    background-color: white; 
} */

/* .aboutus{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    overflow: scroll;
    scrollbar-width: none;
} */

/* .contactus{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    overflow: scroll;
    scrollbar-width: none;
} */

/* .mail{
 
    padding-left: 20px;
    display: flex;
    justify-content: flex-end;
  
   
    
  } */
  
  /* .mail Button{
     display: flex;
    justify-content: flex-end;
  
  } */