.DCd1{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 221);
}

.Dss1{
    height: 500px;
    width: 500px;
}