@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

.Dd1{
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 5px;
    display: flex;
    border: 1px solid rgb(70, 70, 70);
    background-color:rgb(221, 221, 221);
}

.Dd2{
    width: 60%;
    padding-left:0px;
    padding-right:0px;
    padding-top: 0px;
}

.Dd3{
    width: 40%;
    margin: 0px;
    background-color: white;
}
.Dd3 h1 {

    font-size: 1.5rem;
}

.Dp1{
    margin-bottom: 0px;
    margin-left: 10px;
}

.Dd4{
    margin: 10px;
}

.custom-primary-button {
    color: #fff; /* Text color */
    background-color: #FF3951; /* Background color */
    border-color: #FF3951; /* Border color */
    font-weight: bold;
}

.custom-primary-button:hover {
    background-color: #a00f1e; /* Background color on hover */
    border-color: #a00f1e; /* Border color on hover */
}


@media (max-width: 1200px){
    .Dd1{
        margin: 50px;
        margin-left: 150px;
        margin-right: 150px;
        background-color:rgb(221, 221, 221);
    }
    
    .Dd2{
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
    }

}

@media (max-width: 992px){
    .Dd1{
        margin: 50px;
        margin-left: 50px;
        margin-right: 50px;
        background-color:rgb(221, 221, 221);
    }
    
    .Dd2{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
    }

}

@media (max-width: 768px){
    .Dd1{
        margin: 50px;
        margin-left: 0px;
        margin-right: 0px;
        background-color:rgb(221, 221, 221);
    }
    
    .Dd2{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 20px;
    }
}