
.custom-notifyBar{
    z-index: 1029 !important;
}

.offcanvas-backdrop{
    z-index: 100 !important;
}

.offcanvas-backdrop.show {
    opacity: 0.2 !important;
}

.custom-notfycomponent .custom-image-sidebar{
    width:60px;
    height:60px;
    object-fit: cover;
    object-position: center;
}

.custom-notfycomponent .mark-read{
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #CCCCCC; */
}

.custom-notfycomponent .notify-tools{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}