@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.wd1{
    
    flex-wrap: wrap; 
    justify-content: space-between;
    background-color: white;
    
    width: 884px;
    border-radius: 20px;
    display: flex;
    border: 1px solid #ddd;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}

.wd2{
    text-align: center;
    background-color: white;
    width: 884px;
    height: auto;
    border-top-right-radius:20px ;
    border-top-left-radius:20px ;
    margin-top: 20px;
    
    
}

.wd3{
    padding-top: 30px;
    padding-left: 95px;
    width: auto;
    height: auto;
    flex-wrap: wrap; 
    
}

.wd4{
    margin-bottom: 30px;
   text-align: right;
}



.wh1{
    font-weight: bold;
}



.iconwa{
    height: 45px;
    width: 45px;
    color: black;
    transition: color 0.3s ease;

}

.wl1:hover .iconwa{

    height: 45px;
    width: 45px;
    color: rgb(85, 85, 85)

}

@media (max-width: 900px){
    .wd1{
        width: 600px;
    }

    .wd3{
        padding-top: 30px;
        padding-left: 5px;
       
       
        flex-wrap: wrap;
        width: 600px;
        
    }

    .wd4{
        margin-right: 30px;
    }

    .wi1{
        width: 580px;
    }
    

}

@media (max-width: 650px){

    .wd1{
        width: 400px;
    }

    .wi1{
        width: 380px;
    }

    .wd3{
        padding-top: 30px;
        padding-left: 5px;
       
       
        flex-wrap: wrap;
        width: 400px;
        height: 500px;
        
    }

    .wd4{
        margin-top: 150px;
    }

}