@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*height and padding inlcuded the height and width*/
    font-family:"Poppins", sans-serif;
}

html{
    width: auto;
    height: auto;
    margin: 10px; /* Space from this element (entire page) and others*/
    padding: 15px; /*space from content and border*/
    box-shadow: 0px 0px 4px #686767,
                0px 0px 8px #a19090,
                0px 0px 8px #b4a1a1;
    display: block;
    border-radius: 5px;
    
}


:root{
    --mainColor:#FF3951;
    --MainColorLight:#dd626c;
    --ButtonBackground:#A70000;
    --secondaryColor:#dd626c;
    --textColor:#FFFFFF;
}

header{
    margin: 0.25cm 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--mainColor);
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(6, 6, 6),
    0px 0px 8px rgb(9, 9, 9),
    0px 0px 8px rgb(33, 32, 32);
}


.title-content{
    display: flex;
    align-items:center;
    justify-content:flex-start;
}
header .brand-title{
    font-weight: 700;
    color: var(--textColor);
}
 header .brand-title h1{
    margin-top:10px;
    margin-bottom: 0px;

}
 header .brand-title p{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 75%;

}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;/*remove underline of a elements*/
    font-weight: 600;
    padding: 5px 20px;
    background-color: #A70000;
    border-radius: 20px;
     box-shadow: 0px 0px 4px #686767,
                0px 0px 8px #a19090,
                0px 0px 8px #b4a1a1;
}

nav a:hover{
    color:var(--MainColorLight);
    background-color:black ;
}

header .nav-btn{
    padding:5px;
    cursor:pointer;
    background: transparent;/*No color or image will be displayed behind the element.*/
    border: none;
    outline: none;
    color:var(--textColor);
    visibility:visible;
    opacity: 1;
    font-size: 1.8rem;
}

header .nav-close-button{
    visibility: hidden;
    opacity: 0;
}

header img{
    height: 160px;
    width:140px;
    background: transparent;
}


.menubar{
    margin:0 25px;
    position: absolute;
    padding:  0 1rem;
    width:20%;
    height: 80vh;
    background-color: var(--mainColor);
    transition: all 0.5s;
    left: -100%;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgb(6, 6, 6),
    0px 0px 8px rgb(9, 9, 9),
    0px 0px 8px rgb(33, 32, 32);
    z-index: 3;
}

.menubar .menu-icons{
    margin-top: 10px;
    display: none;
    align-items: center;
    justify-content: space-around;
    font-size: 45px;
}



.menubar .menubar-Signin{
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content:center;
    color:var(--textColor);
    margin-bottom: 30px;
}

.menubar .menubar_content{
    margin: 5px 0;
    padding: 1px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textColor);
    box-shadow: 0px 0px 4px #ece0e0,
    0px 0px 8px #e3cece,
    0px 0px 8px #eddddd;
   border-radius: 10px;
   
}

.menubar .menubar_content:hover{
    box-shadow: 0px 0px 4px hsl(0, 2%, 10%),
    0px 0px 8px #242424,
    0px 0px 8px hsl(0, 0%, 17%);
    font-weight: 700;
    cursor: pointer;
    margin:10px 0;
}

#logo_imge{
    background-color: transparent;
    box-shadow: none;
    font-size: 60px;
}

#logo_imges{
    background-color: transparent;
    box-shadow: none;
    font-size: 30px;
}


.menubar.active{
    left:0;
}

.menubar ul{
    padding: 0;
    margin:0.1rem 0;
}

.menubar ul li{
    padding: 0 0px;
    list-style-type: none;
}

.menubar ul li  a{
    text-decoration: none;
    margin: 0;
    display: block;
    padding: 0px 5px;
    border-radius: 6px;
    background-color:  var(--mainColor);
    color: var(--textColor);
}

.menubar ul li a:hover{
    color: var(--textColor);
    font-weight: bolder;
}


@media only screen and (max-width:1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    header .header-partB{
        display: none;
    }
    
    .additional{
        display: none;
    }

    .menubar{
        width: 40%;
    }

    #logo_imges{
        font-size: 20px;
    }
    
    .menubar ul li a{
        font-size: 60%;
    }

    header .brand-title{
        font-size: 60%;
        font-weight: 600;
    }

    .menubar .menu-icons{
        display: flex;
    }

}