.Cover-Image .custom-position{
    bottom: 12%;
    left: 85%;
}

.Cover-Image .cover-image-size{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.Cover-Image .btn-primary{
    --bs-btn-bg:black;
    --bs-btn-border-color: black;
    opacity: 0.8;
}


.Cover-Image .btn-primary:hover{
    opacity: 1;
    background-color: black;
    border-color: black;
}

@media (max-width: 900px) {
    .Cover-Image .btn{
        --bs-btn-font-size:0.6rem
    }
    .Cover-Image .custom-position{
        left: 85%;
    }

    .Cover-Image .cover-image-size{
        height: auto;
    }
  }

  @media (max-width: 600px) {
    .Cover-Image .custom-position{
        bottom: 10%;
    }
    .Cover-Image .custom-position{
        left: 80%;
    }

    .Cover-Image .cover-image-size{
        height: auto;
    }
  }