@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.custom-card {
    background-color: #FF3951;
}

.custom-text {
    color: #FFFFFF;
}

.ProfileCard-details {
    display: flex;
    justify-content: space-around;
}

.ProfileCard-details .card .card-body .custom-email {
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 80%;
}

.ProfileCard-details .card .card-body .custom-address {
    font-size: 85%;
    opacity: 0.9;
    color: #FFFFFF;
}

.ProfileCard-details .card .card-body .d-flex a {
    background-color: #A70000;
    border: #A70000;
}

.ProfileCard-details .card .card-body .d-flex a:hover {
    background-color: black;
    color: #dd626c;
}

.ProfileCard-details .card .list-group .list-group-item {
    background-color: #FF3951;
    color: #FFFFFF;
}

.ProfileCard-details .d-flex .card .btn {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 2px;
    margin-right: 2px;
    background-color: #A70000;
    border: #A70000;

}

.ProfileCard-details .d-flex .card .btn:hover {
    background-color: black;
    color: #dd626c;
    font-size: large;
}

.ProfileCard-details .profile-edit {
    width: 50rem;
}




.ProfileCard-details .card .list-group .list-group-item .form-control{
    line-height: 0;
    padding: 0;
    display:inline;
    color: black;
    font-size: small;
    font-weight: 600;
}

.ProfileCard-details .card .list-group .list-group-item .form-control::placeholder{
    font-size: small;
    color: grey;
}

.ProfileCard-details .card .list-group .list-group-item .form-control:focus{
    border-color: #A70000;
    box-shadow: 0 0 0 0.2rem #d00d0dd2;
    background-color: #dd626c;
    color: #FFFFFF;
}
