/* ProfilePageComponent.css */

.content_profilepage {
    width: 100%;
    height: auto;
    padding: 10px;
    position: relative;
    margin-top: 10vh;
    margin-bottom: 50px;
    box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
    background-color: white;
  }
  
  .user_profile {
    width: 100%;
    height:auto;
    /* object-fit: cover;
    overflow: scroll;
    scrollbar-width: none; */
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 250px auto;
    align-items: space-evenly;
  }
  
  .grid-container > div {
    position: relative; /* Necessary for box-shadow */
   
    justify-content: center;
  }
  
  .profileimage-item {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 0 30px 30px 0;
  }
  
  .userdetails-item {
    padding: 20px;
    /* background-color: aquamarine; */
  }
  
  .userprofileimage {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: rgba(255,57,81, 0.1); */
    /* background-color: whitesmoke; */
    margin: 0;
  }
  
  .profile_details {
    text-align: center;
    padding: 20px;
    
  }
  
  .imgcontainerprofile {
    display: flex;
    justify-content: center;
  }
  
  .imgbx4 {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    transition: 0.5s;
    overflow: hidden;
    border: 6px solid #f9f5f5;
    /* border: 4px solid #ff3951; */
    /* border: 1px solid #f2eeee; */
  }
  
  .imgbx4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .fields_rows1 {
    margin-top: 0px;
  }
  
  .fields_rows2 {
    margin-top: 50px;
  }
  
  .fields_rows3 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .userdetails-item .MuiButtonBase-root {
    color: #ff3951;
  }
  
  .userdetails-item .MuiInputLabel-root.Mui-focused {
    color: #ff3951; 
  }
  

  .userdetails-item .MuiFilledInput-underline:after {
    border-bottom-color: #ff3951;
  }

  .userdetails-item .MuiInputBase-root.Mui-focused {

   
  }

 

  
  
