div.ac1.container{
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
   
}



div.ac1.container{
    
}


.hide-navbar{
    margin-bottom: 15px;
}

footer{
    margin-top: 25px;
}

@media (max-width: 768px) {
    .container {
      flex-direction: column; /* Stack items vertically on smaller screens */
    }
  }